extends layout

block content
    .center
        h1 Welcome to the Movie Database!
        div.remark
            p Use the links above to navigate through the site

            img(src="/resources/popcorn.png")
