html(lang="en")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Arvo&display=swap", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    head
        title Movie Database
    body
        style
            include style.css
        .topbar
            a(href="/") Home
            a(href="/ownProfile") Profile
            a(href="/signin") Sign In/Up
            a(href="/search") Search
            a(href="/users") Users
            a(href="/contribute") Contribute

        block content