extends layout

block content
    script(src="/script/search.js", type="module")

    div(class="container", id="container")
        .generalTxt
            text Title:
        input(type="text", id="inTitle")

        br

        .generalTxt
            text Release year:
        input(type="text", id="inYear")

        br

        .generalTxt
            text Genre(s) (Separated with ,):

        .autocomplete
            input(type="text", autocomplete="off", id="inGenre", style="width:200px;")

        .generalTxt
            text Actor/Writer/Director name(s) (Separated with ,):

        .autocomplete
            input(id="inPerson", autocomplete="off").longTxtInput

        br

        button(id="btnSearch").searchBtn Search

